{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}
    <h1>Crear usuario</h1>

    {{ include('user_crud/_form.html.twig') }}

    <a href="{{ path('app_user_crud_index') }}">Volver</a>
{% endblock %}
